.search {
  width: 50vw;
  padding: 9rem;
  background-color: rgb(68, 68, 68);
  box-shadow: 0 1px 1px 1px rgb(28, 28, 28);
  border-radius: 3px;
  margin-bottom: 6rem;
}
.search__field {
  margin-bottom: 1rem;
  padding: 2rem;
}

label {
  padding: 1rem;
}
input {
  width: 15vw;
  padding: 0.5rem;
}

button {
  font-size: inherit;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  box-shadow: 0 1px 1px 1px rgb(58, 58, 58);
}
